*{
    padding: 0px;
    margin: 0px;
}

body{
    display: relative;
    background-color: whitesmoke;
}

#container {
    display: flex;
    align-items: center;
}

.tela-login{
    width: 16rem;
    text-align: center;
    background-color: skyblue;
    border-radius: 1.2rem;
    padding: 2rem;
    margin: 5%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    display: absolute;
}

.click{
    text-decoration: underline;
}

.click:hover {
    cursor: pointer;
}

.subtitle{
    margin-bottom: 5px;
    text-align  : center;
}

#box-login{
    display: none;
}

input{
    padding: 0.7rem;
    margin-bottom: 10px;
    border-radius: 12px;
}

.input-submit {
    background-color: whitesmoke;
}

.input-submit:hover {
    background-color: whitesmoke;
}

input:hover {
    background-color: whitesmoke;
}

#box-cadastro {
    
}

#box-login {
    
}