<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"> <!-- icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"> <!-- more icons -->
    <link rel="stylesheet" href="/public/styles/index.css">
    <title>Account</title>
    <%- include('../templates/styleGlobal.ejs')%>
</head>
<body>
    
</body>

<%-include('../templates/accountScripts/srcScripts.ejs')%>
</html>