<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"> <!-- icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"> <!-- more icons -->
    <link rel="stylesheet" href="/public/styles/account.css">
    <title>Account</title>
    <%- include('../templates/styleGlobal.ejs')%>
</head>
<body>
    <main>
        <%- include('../templates/header/mainHeader.ejs')%>

        <div class="header-account"></div>
        <div class="user-information"></div>

        


    </main>
</body>

</html>

    <%-include('../templates/accountScripts/srcScripts.ejs')%>

    <script src="/public/script/auth-guard.js"></script>
    <script src="/public/script/account.js"></script>