<!-- página de login -->
<!-- criar um register, e um link direcionando ao já tem uma conta-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/public/styles/login.css">
    <%- include('../templates/styleGlobal.ejs')%>
</head>
<body>
    <%- include('../templates/header/headerOff.ejs')%>

    <div class="container centralize">
        <form>
            <div class="form-field">
                <div><label>Email:</label></div>
                <input oninput="onChangeEmail()" id="email" type="email" name="email" placeholder="email"/>
                <div class="error" id="error-email">mandatory email!</div>
                <div class="error" id="invalid-email">invalid email!</div>
            </div>
            <div class="form-field">
                <div><label>Password:</label></div>
                <input oninput="onChangePassword()" type="password" id="password" name="password" placeholder="senha"/>
                <div class="error" id="password-error">mandatory password!</div>
            </div>
            <div>
                <button onclick="recoverPassword()" class="recover-password" id="recover-password" type="button">Forgot the password?</button>
            </div>
            <div>
                <button onclick="loginSinion()" id="login" type="button">Login</button>
            </div>
            <div>
                <button onclick="registerSinion()" type="button" class="register">Register</button>
            </div>
            <div> 
                <button onclick="alertAnonymously()" type="button" class="anonymously">SignIn Anonymous</button>                    
            </div>
            <div>
                
            </div>
        </form>
    </div>

    <%-include('../templates/accountScripts/srcScripts.ejs')%>
    <script src="/public/script/login.js"></script>

    
</body>
</html> 