<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"> <!-- icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"> <!-- more icons -->
    <link rel="stylesheet" href="/public/styles/index.css">
    <title>Sinion</title>
    <%- include('../templates/styleGlobal.ejs')%>
</head>

<body>

    <%- include('../templates/header/mainHeader.ejs')%>

    <!-- <div class="loading-container">
        <img class="loading-gif" src="https://cdn.dribbble.com/users/148670/screenshots/5252136/dots.gif">
    </div> -->

    <section class="publics-section">
        <div onclick="openPopUp()" class="publics-edit">
            <div class="img-user">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/72/Default-welcomer.png">
            </div>
            <button id="" class="box-edit">Criar publicação</button>
        </div>

        <ul class="threads-container">

        </ul>
    </section>
    <%- include('../templates/accountScripts/srcScripts.ejs')%>

    <script src="/public/script/auth-guard.js"></script>
    <script src="/public/script/tela_posts/index.js"></script>


</body>
</html>