<!-- coisas para fazer: 
    adicionar um campo de nome ao registrar    OK!

-->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"> <!-- icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"> <!-- more icons -->
    <link rel="stylesheet" href="/public/styles/index.css">
    <title>Sinion</title>
</head>
<body>
    <header>
        <h1 class="title-forum">SINION</h2>

        
            <a class="icon" onclick="showMenuAccount()">
                <i class="uil uil-user icon "></i>
            </a>
            <div class="nav_account">
                <div id="options_account">
                    <button class="btn_account" onclick="goToAccount()" type="button">Conta</button>
                    <button class="btn_account signOut" onclick="signOut()" type="button">Logout</button>
                </div>
            </div>

    </header>
    
    <main>
        <div class="container">

            <a href="../html/postar.html" class="box-post">
                <div class="post">Postar</div>
            </a>

        </div>    
    </main>
</body>

    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-storage.js"></script>
    
    <script src="/public/script/firebase.js"></script>
    <script src="/public/script/validation.js"></script>
    <script src="/public/script/auth-guard.js"></script>
    <script src="/public/script/index.js"></script>


</html>

