<!-- coisas para fazer: 
    adicionar um campo de nome ao registrar    OK!

-->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"> <!-- icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"> <!-- more icons -->
    <link rel="stylesheet" href="/public/styles/index.css">
    <title>Sinion</title>
    <%- include('../templates/styleGlobal.ejs')%>
</head>
<body>
    <%- include('../templates/header/mainHeader.ejs')%>
    <!-- <main>
        <div class="container">

            <button onclick="createPost()" class="box-post">
                <p class="post-">Postar</p>

            </button>

        </div>    
    </main> -->
    <div class="popUp_container">
        <div class="thread-PopUp">
            <p class="title-popUp">Criar Publicação</p>
            <section>
                <div class="img-user-popUp">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/7/72/Default-welcomer.png">
                </div>
                <p class="username-popup">Augusto Caetano</p>
            </section>
            <form class="thread-form">
                <input type="text" class="threadTitle-input" placeholder="Titulo">
                <textarea>
                    
                </textarea>
            </form>
        </div>
    </div>
    <section class="publics-section">
        <main onclick="openPop_Up()" class="publics-edit">
            <div class="img-user">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/72/Default-welcomer.png">
            </div>
            <button class="box-edit">Criar publicação</button>
        </main>
        <ul class="threads-container">
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </section>
</body>

    <%-include('../templates/accountScripts/srcScripts.ejs')%>

    <script src="/public/script/auth-guard.js"></script>
    <script src="/public/script/index.js"></script>

</html>