
<style>
    header{
        width: 100%;
        padding: 0.3rem 9%;
        background-color: #00ABB3;
    }
    header .header-content{
        display: flex;
        justify-content: start;
        align-items: center;
    }
    header .header-content a{
        color: white;
    }
</style>
<header>
    <div class="header-content">
        <a href=""><h1>SINION</h1></a>
    </div>
</header>