
<style>
    header{
        width: 100%;
        padding: 0.3rem 9%;
        background-color: #00ABB3;
    }
    header .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .header-content span{
        display: flex;
    }
    header .header-content span img:nth-child(1){
        margin-right: 1.5rem;
    }
    header .header-content span img:hover{
        background-color: white;
        color: black;
        cursor: pointer;
    }
    header .header-content a {
        color: white;
    } header .header-content span button:hover{
        box-shadow: none;
        transform: translate(2px, 2px);
    }
</style>

<header>
    <div class="header-content">
        <a href="/"><h1>SINION</h1></a>
        <span>
            <img width="40px" class="btn-account" onclick="goToAccount()" src="../../../public/images/account.svg">
            <img width="40px" class="btn-account signOut" onclick="signOut()" src="../../../public/images/logout.svg">
            <!-- <button class="btn-account signOut" onclick="signOut()" type="button">Logout</button> -->
        </span>
    </div>
</header>