@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,500&family=Righteous&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.title-forum{
    padding: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

h1, h4, ol {
    margin: 0;
}

p {
    margin: 1rem 0;
}

textarea {
    width: 100%;
    height: 3rem;
}

button {
    display: block;
    margin: 0.8rem 0;
}

.top-bar {
    background-color: skyblue;
    padding: 0 3rem;
}

.main {
    background-color: #F6F6EF;
    padding: 0.8rem 3rem;
}

.comments {
    margin: 3rem 0;
}

.comment {
    margin: 0.8rem 0;
    padding: 0.7rem;
    border-style: groove;
}

.comment-square{
    padding: 1rem;
    border-style: outset;
    border-color: ;
    background-color: ;
}

.reply-button{
    display: block;
    float: right;
    margin-top: 1%;    
    width: 5rem;
    height: 2rem;
}

.reply-comments{
    margin-top: 1.5rem;
    margin-left: 2rem;
    padding: .5rem;
    border-style: ridge;
    background-color: #F6F6E1;
}

.row {
    padding: 0.4rem 0;
}

.bottom, .top-comment {
    display: flex;
    color: grey;
    font-size: 1rem;
}

.timestamp {
    padding-right: 0.8rem;
}

.comment-ts {
    padding-left: 0.8rem;
}