.header-account {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
    /* margin-left: auto;
    margin-right: auto; */
    align-items: center;
    justify-content: center;
    font-size: x-large;

}

.welcome-text{
    color: white;
}

.welcome-username {
color: #00ABB3;
}

.user-data {
    margin-top: 1rem;
    color: white;
    font-size: 2rem;
}

.image-name {
    display: flex;
}

.user-information {
    display: inline;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 3rem;

}

.user-information img {
    border-radius: 60%;
}

.image-profile {
    width: 15rem;
}

.users-info {
    padding: 2rem;
}

.welcome-text {
    text-size-adjust: 4rem;
}

/* loading */

.loading-container{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.445);
    backdrop-filter: blur(1px);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-image{
    width: 20rem;
}

/*  */