







/* .nav_account {
    display: block;
    position: relative;
    overflow: hidden;

}

.btn_account{
    background-color: transparent;
    border: none;   

    display: block;
    right: 0;
    top: 0;
}

.btn_account:hover {
    cursor: pointer;
    background-color: #DDD;
}

#options_account {
    display: none;
}


.icon {
    width: 2rem ;
    float: right;
    display: flex;
    font-size: 2rem;
    margin-left: auto;
}

.icon:hover {
    cursor: pointer;
}

.login-link {
    margin-left: auto;
}

.box-post{
    background-color: black;
    width: 80%;
    height: max-content;
}

.post {
    background-color: #808080;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
    border-radius: 12rem;
    padding: 1rem;
    margin-bottom: 3rem;
}
/* video */
/* ol{
    list-style: none;
}

.to-threads{
    text-decoration: none;
    color: #000;
}  */




