*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #D3D3D3;
    position: relative;
}

header{
    display: flex;
    background-color: #5F9EA0;
    padding: .5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

form{
    margin-top: 10%;
    width: 20rem;
}

input, button {
    padding: .3rem;
    width: 100%;
}

button{
    cursor: pointer;
    width: 100%;
    margin-bottom: .3rem;
}

.button-bottom {
 
}

.form-field {
    margin-bottom: .3rem;
}

button:disabled {
    opacity: 0.5;
}

.recover-password {
    background-color: transparent;
    border: none;    
}

.register {
    background-color: transparent;
}

.error {
    color: #977160;
    background: #4e4848;
    display: none;
}