@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,500&family=Righteous&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #D3D3D3;
}

header{
    display: flex;
    background-color: #5F9EA0;
    padding: .5rem;
}

.title-forum {

} 

.nav_account {
    display: block;
    position: relative;
    overflow: hidden;

}

.btn_account{
    background-color: transparent;
    border: none;   

    display: block;
    right: 0;
    top: 0;
}

.btn_account:hover {
    cursor: pointer;
    background-color: #DDD;
}

#options_account {
    display: none;
}


.icon {
    width: 2rem ;
    float: right;
    display: flex;
    font-size: 2rem;
    margin-left: auto;
}

.icon:hover {
    cursor: pointer;
}

.login-link {
    margin-left: auto;
}

.box-post{
    background-color: black;
    width: 80%;
    height: max-content;
}

.post {
    background-color: #808080;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
    border-radius: 12rem;
    padding: 1rem;
    margin-bottom: 3rem;
}
/* video */
ol{
    list-style: none;
}

.to-threads{
    text-decoration: none;
    color: #000;
}

.post-content {
    display: flex;
}

.paragraphs-row {
    margin: .8rem 0;
}

.row {
    padding: .3rem 0;
    background-color: #BCC7C7;
}

.post-content {
    display: flex;
    color: #808080;
}

.test {
    margin: 2rem 5rem;
}

.timestamp {
    margin-right: 5%;
}