@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,500&family=Righteous&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #D3D3D3;
}

header{
    display: flex;
    background-color: #5F9EA0;
    padding: .5rem;
}

.title-forum {

} 

.nav_account {
    display: block;
    position: relative;
    overflow: hidden;

}

.btn_account{
    background-color: transparent;
    border: none;   

    display: block;
    right: 0;
    top: 0;
}

.btn_account:hover {
    cursor: pointer;
    background-color: #DDD;
}

#options_account {
    display: none;
}


.icon {
    width: 2rem ;
    float: right;
    display: flex;
    font-size: 2rem;
    margin-left: auto;
}

.icon:hover {
    cursor: pointer;
}

.login-link {
    margin-left: auto;
}
/* video */

.thread-container {
    padding: 1rem ;
    margin: 2rem 5rem;
    background-color: #BCC7C7;
    border-radius: 12px;
}   

textarea {
    width: 80%;
    height: 3rem;
}

.submit_comment {
    display: block;
    margin: 1rem 0;
    padding: .2rem;
}

.comments {
    margin: 3rem 0;
}

.comment {
    margin: 1.5rem 0;
    background-color: #D4D3D4;
    padding: .3rem;
    border-radius: 12px;
}

.row {

}

ol{
    list-style: none;
}

.to-threads{
    text-decoration: none;
    color: #000;
}

.post-content {
    display: flex;
}

.paragraphs-row {
    margin: .6rem 0;
}

.post-content {
    display: flex;
    color: #808080;
}

.test {
    margin: 2rem 5rem;
}

.comment-ts {
    margin-right: 5%;
}